body {
	background-color: lightgrey;
}

.header{
	text-align: center;
	font-family: sans-serif;
}

.info {
	border:1px solid white;
	
	background-color: lightblue;
}

.container {
	background-color: lightblue;
}